<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To do project</title>
</head>
<body>
    <div class="container">
        <div class="items">
          <% if (locals.itemList) { %>
            <% itemList.forEach(item => { %>
                <h6><%= item %> <span><input type="checkbox"></span></h6>
            <% }) %>
          <% } %>
        </div>
        <div class="form">
            <form action="/" method="post">
                <input type="text" placeholder="Enter Task" name="item">
                <input type="submit" value="Submit">   
            </form>
        </div>
    </div>
</body>
</html>